<h1> Hello, please fill out the form below to create a new game</h1>

<% unless @game.valid? %>
<%= @game.errors.full_messages.to_sentence %>
<% end %>

<%= form_for @game do |f| %>
  <%= f.label :player_id %>
  <%= f.collection_select :player_id, (Player.all - [@current_user]), @game.player %>
  <%= f.label :start_time %>
  <%= f.date_select :start_time, {}, {class: 'input-medium', selected: @game.start_time} %>
  <%= f.time_select :start_time, {ignore_date: true, ampm: true}, {class: 'input-small', selected: @game.start_time} %>
  <%= f.label :end_time %>
  <%= f.date_select :end_time, {}, {class: 'input-medium', selected: @game.end_time} %>
  <%= f.time_select :end_time, {ignore_date: true, ampm: true}, {class: 'input-small', selected: @game.end_time} %>
  <%= f.label :location %>
  <%= f.text_field :location, value: @game.location %>
  <button class='btn btn-primary'>Submit</button>
<% end %>

<%= link_to "Games", root_path %>